@use "./base/reset";
@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

.mobile {
  display: none;
}

.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 0 14rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 2.917rem;
  margin: 0 auto;
}

header {
  background-color: rgb(218, 172, 0);
  min-height: 12rem;
  div {
    padding: 3.3rem 0;
    display: flex;
    align-items: center;
    min-height: 12rem;
    color: $white;
    a {
      margin-right: auto;
      img {
        @include responsive;
      }
    }
    ul {
      display: flex;
      li {
        margin: 0 1.3rem;
        a {
          color: $white;
          font-weight: 500;
          text-decoration: none;
          padding: 0.5rem 1rem;
          border-radius: 2.5rem;
          transition: all 300ms;
          &:hover {
            background-color: $turqoise;
            border-radius: 2.5rem;
          }
        }
      }
    }
    form {
      background-color: $yellow;
      margin-left: 3.67rem;
      display: flex;
      align-items: center;
      input {
        height: 5.3rem;
        max-width: 20rem;
        border: none;
        padding-left: 1.9rem;
        padding-right: 1.9rem;
        font-family: "Poppins", sans-serif;
        font-weight: 400;
        font-size: 2.083rem;
        background-color: $yellow;
        outline: none;
        border: none;
        color: $white;
        &::placeholder {
          font-size: 2.1rem;
          color: rgb(255 255 255 / 65%);
        }
      }
      button {
        height: 5.3rem;
        width: 7.1rem;
        border: none;
        background-color: $turqoise;
        color: $white;
        font-size: 2.5rem;
        outline: none;
        cursor: pointer;
        &:hover {
          color: $turqoise;
          background-color: $white;
          svg {
            transition: all 0.65s;
            transform: rotateY(360deg);
          }
        }
      }
    }
  }
}

.section_1 {
  background-color: $yellow;
  height: calc(100vh - 12rem);
  .container {
    display: flex;
    .section_1_1 {
      // max-width: 685px;
      max-width: 60%;
      margin-right: auto;
      padding-top: 19.8rem;
      padding-bottom: 19.8rem;
      h1 {
        font-size: 6.667rem;
        font-weight: 600;
        line-height: 8rem;
        color: $white;
        margin-bottom: 2.8rem;
      }
      p {
        line-height: 3.5rem;
        color: $white;
        margin-bottom: 4.5rem;
      }
      a {
        font-size: 2.083rem;
        font-weight: 600;
        color: rgb(255, 255, 255);
        line-height: 6.9rem;
        height: 6.9rem;
        text-decoration: none;
        display: inline-block;
        padding: 0 3.3rem;
        border-radius: 7px;
        border: 3px solid $white;
        margin-right: 2.7rem;
        transition: all 300ms;
        &:hover,
        &.active {
          background-color: $turqoise;
          border: 3px solid $turqoise;
        }
      }
    }
    .section_1_2 {
      padding-top: 9rem;
      img {
        @include responsive;
      }
    }
  }
}
.section_2 {
  background-color: $white;
  .container {
    display: flex;
    .section_2_1 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50%;
      min-height: 80rem;
      h2 {
        font-size: 5rem;
        font-weight: 600;
        line-height: 6rem;
        // color: $white;
        margin-bottom: 3.3rem;
      }
      p {
        line-height: 3.5rem;
        margin-bottom: 4.3rem;
      }
      a {
        height: 6.9rem;
        line-height: 6.9rem;
        background-color: rgb(252, 195, 2);
        display: block;
        font-size: 2.083rem;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        padding: 0 3rem;
        border-radius: 7px;
        align-self: flex-start;
        transition: all 300ms;
        &:hover {
          background-color: $turqoise;
        }
      }
    }
    .section_2_2 {
      padding-top: 14rem;
      margin-left: auto;
      .video {
        position: relative;
        a {
          display: block;
          .video-overlay {
            position: relative;
            width: 50.7rem;
            height: 48rem;
            background: linear-gradient(
                rgb(252, 195, 2, 0.5),
                rgb(252, 195, 2, 0.5)
              ),
              url(/images/image1.png);
            background-size: cover;
            background-repeat: no-repeat;
            &:after {
              content: "";
              width: 8.6rem;
              height: 8.6rem;
              background-color: $white;
              border-radius: 50%;
              position: absolute;
              padding-top: 4.25rem;
              padding-left: 4.5rem;
              top: calc(50% - 4.3rem);
              left: calc(50% - 4.3rem);
            }
          }
          .icon {
            position: absolute;
            top: 47%;
            left: 47%;
            color: $yellow;
            font-size: 3rem;
          }
          &:hover {
            .video-overlay {
              background: linear-gradient(
                  rgb(0, 190, 201, 0.5),
                  rgb(0, 190, 201, 0.5)
                ),
                url(/images/image1.png);
            }
            .icon {
              color: $turqoise;
            }
          }
        }
        z-index: 0;
        &:after {
          content: "";
          width: 25.1rem;
          height: 20.7rem;
          background-color: $yellow;
          position: absolute;
          bottom: -3.3rem;
          left: -3.8rem;
          z-index: -1;
        }
      }
    }
  }
}
.section_3 {
  background-color: $yellow;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 9.8rem;
    padding-bottom: 10.7rem;
    h2 {
      font-size: 7.5rem;
      font-weight: 700;
      color: $white;
      margin-bottom: 3.8rem;
    }
    p {
      font-size: 3.333rem;
      line-height: 4rem;
      color: $white;
      max-width: 65%;
      text-align: center;
      margin-bottom: 9.5rem;
    }
    .cards {
      display: flex;
      gap: 6rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          @include responsive;
          border: 6px solid $white;
          margin-bottom: 4.7rem;
        }
        h3 {
          font-size: 3.75rem;
          font-weight: 600;
          color: $white;
          margin-bottom: 1.5rem;
        }
        p {
          font-size: 2.5rem;
          line-height: 3rem;
          color: $white;
          max-width: 100%;
          margin-bottom: 0;
        }
      }
    }
  }
}
.section_4 {
  background-color: $white;
  .container {
    display: flex;
    .section_4_1 {
      padding-top: 14rem;
      .video {
        position: relative;
        a {
          display: block;
          .video-overlay {
            position: relative;
            width: 50.7rem;
            height: 48rem;
            background: linear-gradient(
                rgb(252, 195, 2, 0.5),
                rgb(252, 195, 2, 0.5)
              ),
              url(/images/image5.png);
            background-size: cover;
            background-repeat: no-repeat;
            &:after {
              content: "";
              width: 8.6rem;
              height: 8.6rem;
              background-color: $white;
              border-radius: 50%;
              position: absolute;
              padding-top: 4.25rem;
              padding-left: 4.5rem;
              top: calc(50% - 4.3rem);
              left: calc(50% - 4.3rem);
            }
          }
          .icon {
            position: absolute;
            top: 47%;
            left: 47%;
            color: $yellow;
            font-size: 3rem;
          }
          &:hover {
            .video-overlay {
              background: linear-gradient(
                  rgb(0, 190, 201, 0.5),
                  rgb(0, 190, 201, 0.5)
                ),
                url(/images/image5.png);
            }
            .icon {
              color: $turqoise;
            }
          }
        }
        z-index: 0;
        &:after {
          content: "";
          width: 25.1rem;
          height: 20.7rem;
          background-color: $yellow;
          position: absolute;
          bottom: -3.3rem;
          right: -3.8rem;
          z-index: -1;
        }
      }
    }
    .section_4_2 {
      margin-left: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 50%;
      min-height: 80rem;
      h2 {
        font-size: 5rem;
        font-weight: 600;
        line-height: 6rem;
        margin-bottom: 3.3rem;
        text-align: right;
      }
      p {
        line-height: 3.5rem;
        margin-bottom: 4.3rem;
        text-align: right;
      }
      a {
        height: 6.9rem;
        line-height: 6.9rem;
        background-color: rgb(252, 195, 2);
        display: block;
        font-size: 2.083rem;
        font-weight: 600;
        color: $white;
        text-decoration: none;
        padding: 0 3rem;
        border-radius: 7px;
        align-self: flex-end;
        transition: all 300ms;
        &:hover {
          background-color: $turqoise;
        }
      }
    }
  }
}
.section_5 {
  background-color: $yellow;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 11rem;
    padding-bottom: 10.7rem;
    h2 {
      font-size: 7.5rem;
      font-weight: 700;
      color: $white;
      margin-bottom: 3.2rem;
    }
    p {
      font-size: 3.333rem;
      line-height: 4rem;
      color: $white;
      max-width: 65%;
      text-align: center;
      margin-bottom: 9.2rem;
    }
    .cards {
      display: flex;
      gap: 6rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          @include responsive;
          border: 6px solid $white;
          margin-bottom: 3.9rem;
        }
        h3 {
          font-size: 4.167rem;
          font-weight: 600;
          color: $white;
          margin-bottom: 2.7rem;
          margin-left: -2.2rem;
          span {
            text-decoration: line-through;
            margin-right: 2.4rem;
          }
        }
        a {
          height: 6rem;
          line-height: 6rem;
          font-weight: 600;
          background-color: $turqoise;
          font-size: 2.5rem;
          text-decoration: none;
          padding: 0 4.5rem;
          border-radius: 2.8rem;
          color: $white;
          transition: all 300ms;
          &:hover {
            background-color: $white;
            color: $turqoise;
          }
        }
      }
    }
  }
}
.section_6 {
  background-color: $white;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13.8rem;
    padding-bottom: 14rem;
    h2 {
      font-size: 7.5rem;
      font-weight: 700;
      color: $black;
      margin-bottom: 3.3rem;
    }
    p {
      font-size: 3.333rem;
      line-height: 4rem;
      color: $black;
      max-width: 65%;
      text-align: center;
      margin-bottom: 9.2rem;
    }
    .cards {
      display: flex;
      gap: 3.8rem;
      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
          @include responsive;
          margin-bottom: 3.9rem;
        }
        h3 {
          font-size: 2.917rem;
          font-weight: 700;
          color: $black;
          margin-bottom: 1.2rem;
        }
        h4 {
          font-size: 2.5rem;
          font-weight: 400rem;
          color: $black;
          text-transform: uppercase;
          margin-bottom: 2.6rem;
        }

        ul {
          display: flex;
          margin-left: 1rem;
          li {
            margin-right: 1.4rem;
            a {
              height: 3.5rem;
              width: 3.5rem;
              display: block;
              background-color: $yellow;
              border-radius: 50%;
              font-size: 2.5rem;
              color: $white;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: all 300ms;
              &:hover {
                background-color: $turqoise;
                svg {
                  transition: all 0.65s;
                  transform: rotateY(360deg);
                }
              }
            }
          }
        }
      }
    }
  }
}
.section_7 {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgb(252, 195, 2, 0.8), rgb(252, 195, 2, 0.8)),
    url(/images/image12.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  .container {
    padding-top: 16.5rem;
    padding-bottom: 16.8rem;
    display: flex;
    justify-content: space-between;
    ul {
      color: $white;
      display: flex;
      flex-direction: column;
      align-items: center;
      li {
        .icon {
          font-size: 10rem;
        }
        .injection {
          transform: rotate(180deg);
        }
        &:nth-child(2) {
          font-size: 4.167rem;
          font-weight: 500;
          margin-top: 4rem;
        }
        &:nth-child(3) {
          font-size: 3.75rem;
          font-weight: 700;
          margin-top: 2rem;
        }
      }
    }
  }
}
.section_8 {
  background-color: $white;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 13.1rem;
    padding-bottom: 14rem;
    h2 {
      font-size: 7.5rem;
      font-weight: 700;
      color: $black;
      margin-bottom: 3.3rem;
    }
    p {
      font-size: 3.333rem;
      line-height: 4rem;
      color: $black;
      max-width: 65%;
      text-align: center;
      margin-bottom: 9.2rem;
    }
    .cards {
      display: flex;
      gap: 3.8rem;
      .card {
        display: flex;
        flex-direction: column;
        // align-items: center;
        img {
          @include responsive;
          // margin-bottom: 3.9rem;
        }
        &:nth-child(2) {
          box-shadow: 0.5px 6px 20px 0px rgb(209 203 203 / 30%);
        }

        .card-text {
          max-width: 36.1rem;
          padding-top: 2.6rem;
          padding-left: 3.1rem;
          padding-right: 3rem;
          padding-bottom: 2.7rem;
          h3 {
            font-size: 2.5rem;
            font-weight: 600;
            line-height: 3rem;
            color: $black;
            margin-bottom: 1.1rem;
          }
          .date {
            font-size: 1.667rem;
            font-weight: 400rem;
            color: $turqoise;
            text-align: left;
            text-transform: uppercase;
            margin-bottom: 2.5rem;
          }
          p {
            font-size: 1.6rem;
            line-height: 2rem;
            color: $black;
            text-align: justify;
            max-width: 100%;
            margin-bottom: 1.7rem;
          }
          a {
            font-size: 2rem;
            font-weight: 500;
            color: $turqoise;
            text-decoration: none;
            transition: all 300ms;
            &:hover {
              color: $yellow;
            }
          }
        }
        .card-border {
          border-left: 2px solid $grey;
          border-right: 2px solid $grey;
          border-bottom: 2px solid $grey;
        }
      }
    }
  }
}
footer {
  background-color: $footerbgc;
  .container {
    display: flex;
    // justify-content: space-between;
    padding-top: 16.6rem;
    padding-bottom: 17.2rem;
    h3 {
      font-size: 3.75rem;
      font-weight: 600;
      color: $white;
      margin-bottom: 3.1rem;
    }

    li {
      font-size: 2.5rem;
      margin-bottom: 2rem;
      a {
        color: $white;
        text-decoration: none;
        transition: all 300ms;
        &:hover {
          color: $yellow;
        }
      }
    }

    p {
      font-size: 2.5rem;
      color: $white;
    }
    .left {
      margin-right: 10rem;
    }
    .middle {
      margin-right: auto;
    }
    .right {
      h3 {
        margin-bottom: 1.4rem;
      }
      p {
        margin-bottom: 5rem;
      }
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      margin-top: -1.4rem;
      form {
        background-color: $yellow;
        display: flex;
        align-items: center;
        input {
          height: 9rem;
          min-width: 38.6rem;
          border: none;
          padding-left: 1.9rem;
          padding-right: 1.9rem;
          font-family: "Poppins", sans-serif;
          font-weight: 400;
          font-size: 2.083rem;
          background-color: $yellow;
          outline: none;
          border: none;
          color: $white;
        }
        button {
          height: 9rem;
          width: 14.4rem;
          border: none;
          background-color: $turqoise;
          color: $white;
          font-size: 3.3rem;
          outline: none;
          cursor: pointer;
          &:hover {
            color: $yellow;
            background-color: $white;
            svg {
              transition: all 0.65s;
              transform: rotateY(360deg);
            }
          }
        }
      }
      ul {
        display: flex;
        margin-top: 5.1rem;
        li {
          margin-right: 1.4rem;
          &:last-child {
            margin-right: 0.7rem;
          }
          a {
            height: 4.5rem;
            width: 4.5rem;
            display: block;
            background-color: $white;
            border-radius: 50%;
            font-size: 3rem;
            color: $black;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 300ms;
            &:hover {
              background-color: $turqoise;
              color: $white;
              svg {
                transition: all 0.65s;
                transform: rotateY(360deg);
              }
            }
          }
        }
      }
    }
  }
}
@media screen and (orientation: portrait) {
  .section_1 {
    height: 85rem;
  }
}

@media screen and (max-width: 1400px) {
  .container {
    padding: 0px 6rem;
  }

  .section_1 .container .section_1_1 {
    padding-top: 18.8rem;
  }
  .section_1 .container .section_1_2 {
    padding-top: 12rem;
  }

  .section_1 .container .section_1_2 img {
    width: 90%;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 2.5rem;
  }
  .container {
    padding: 0px 3rem;
  }

  header div ul li {
    margin: 0 0.5rem;
  }

  header div form {
    margin-left: 2rem;
  }

  header div form input,
  header div form button {
    height: 4.3rem;
  }

  .section_1 .container .section_1_1 {
    padding-top: 15.8rem;
    padding-bottom: 15.8rem;
  }

  .section_1 .container .section_1_2 img {
    width: 85%;
  }

  .section_2 .container .section_2_1,
  .section_4 .container .section_4_2 {
    min-height: 70rem;
  }

  .section_2 .container .section_2_2,
  .section_4 .container .section_4_1 {
    padding-top: 10rem;
  }
  .section_3 .container .cards .card h3 {
    font-size: 3.3rem;
  }

  .section_3 .container .cards .card p {
    font-size: 2.3rem;
  }

  .section_3 .container,
  .section_5 .container,
  .section_6 .container,
  .section_7 .container,
  .section_8 .container,
  footer .container {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
  footer .container .right form input {
    height: 7rem;
    min-width: 30.6rem;
  }

  footer .container .right form button {
    height: 7rem;
    width: 13.4rem;
  }

  footer .container p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 1080px) {
  :root {
    font-size: 55%;
  }
  .section_1 .container .section_1_1 {
    padding-top: 14rem;
    padding-bottom: 14rem;
    max-width: 50%;
  }

  .section_3 .container,
  .section_5 .container,
  .section_6 .container,
  .section_7 .container,
  .section_8 .container,
  footer .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .section_3 .container h2,
  .section_5 .container h2,
  .section_6 .container h2,
  .section_8 .container h2 {
    margin-bottom: 3.2rem;
  }

  .section_3 .container p,
  .section_5 .container p,
  .section_6 .container p,
  .section_8 .container p {
    margin-bottom: 7.5rem;
  }
  footer .container .right {
    margin-top: 0;
  }

  footer .container .right form input {
    height: 6rem;
    min-width: 22rem;
  }

  footer .container .right form button {
    height: 6rem;
    width: 10rem;
    font-size: 3rem;
  }

  footer .container p {
    font-size: 2rem;
  }
}

@media screen and (max-width: 950px) {
  :root {
    font-size: 45%;
  }
  .section_1 .container .section_1_1 {
    padding-top: 14rem;
    padding-bottom: 14rem;
    max-width: 50%;
  }

  .section_2 .container .section_2_2,
  .section_4 .container .section_4_1 {
    padding-top: 10rem;
  }

  .section_2 .container .section_2_1,
  .section_4 .container .section_4_2 {
    min-height: 60rem;
  }

  .section_2 .container .section_2_2 .video a .video-overlay,
  .section_4 .container .section_4_1 .video a .video-overlay {
    width: 40rem;
    height: 38.4rem;
  }

  .section_3 .container .cards {
    gap: 3rem;
  }
  .section_3 .container,
  .section_5 .container,
  .section_6 .container,
  .section_7 .container,
  .section_8 .container,
  footer .container {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }

  .section_3 .container h2,
  .section_5 .container h2,
  .section_6 .container h2,
  .section_8 .container h2 {
    margin-bottom: 2.2rem;
  }

  .section_3 .container p,
  .section_5 .container p,
  .section_6 .container p,
  .section_8 .container p {
    margin-bottom: 6.5rem;
    max-width: 80%;
  }
  footer .container .right {
    margin-top: 0;
  }

  footer .container .right form input {
    height: 5rem;
    min-width: 20rem;
  }

  footer .container .right form button {
    height: 5rem;
    width: 10rem;
    font-size: 2.3rem;
  }

  footer .container p {
    font-size: 2rem;
  }
}
@media screen and (max-height: 420px) {
  .section_1 {
    min-height: 85rem;
  }
}
@media screen and (max-width: 830px) {
  :root {
    font-size: 45%;
  }

  .no-mobile {
    display: none;
  }

  header div form {
    margin-left: 0;
    margin-right: 2rem;
  }

  a.mobile {
    display: contents;
    margin-right: 0;
    margin-left: 2rem;
    font-size: 6rem;
    color: rgb(255 255 255 / 80%);
  }
}

@media screen and (max-width: 720px) {
  :root {
    font-size: 40%;
  }

  .section_1 .container {
    display: block;
  }

  .section_1 .container .section_1_1 {
    padding-top: 15%;
    padding-bottom: 10rem;
    max-width: 100%;
    display: flex;
    flex-direction: column;
  }

  .section_1 .container .section_1_1 h1 {
    text-align: center;
    margin-bottom: 5.8rem;
  }

  .section_1 .container .section_1_1 p {
    text-align: center;
    margin-bottom: 7.5rem;
  }
  .section_1 .container .section_1_1 .buttons {
    text-align: center;
  }
  .section_1 .container .section_1_2 {
    display: none;
  }
  .section_2 .container .section_2_2,
  .section_4 .container .section_4_1 {
    padding-top: 11rem;
  }
  .section_2 .container .section_2_2 .video a .video-overlay,
  .section_4 .container .section_4_1 .video a .video-overlay {
    width: 37rem;
    height: 35.4rem;
  }

  .section_3 .container .cards .card h3 {
    font-size: 3rem;
  }

  .section_5 .container .cards {
    gap: 3rem;
  }

  footer .container .right p {
    max-width: 75%;
  }
  footer .container .right form input {
    height: 5rem;
    min-width: 20rem;
  }

  footer .container .right form button {
    height: 5rem;
    width: 7rem;
    font-size: 2.3rem;
  }
}

@media screen and (max-width: 670px) {
  .section_1 {
    min-height: auto;
  }

  .section_1 .container .section_1_1 {
    padding-top: 4rem;
    padding-bottom: 1rem;
  }

  .section_1 .container .section_1_1 h1 {
    text-align: center;
    margin-bottom: 3.8rem;
    font-size: 4.667rem;
    line-height: 5rem;
  }
}

@media screen and (max-width: 590px) {
  :root {
    font-size: 35%;
  }

  .section_1 .container .section_1_1 {
    padding-top: 12rem;
  }

  .section_3 .container .cards {
    gap: 2rem;
  }
  .section_3 .container .cards .card h3 {
    font-size: 2.8rem;
  }

  footer .container h3 {
    font-size: 3rem;
  }

  footer .container li {
    font-size: 2rem;
  }
}

@media screen and (max-width: 420px) and (orientation: portrait) {
  :root {
    font-size: 35%;
  }

  header div form {
    display: none;
  }

  .section_1 {
    height: auto;
  }
  .section_1 .container .section_1_1 {
    padding-top: 15%;
    padding-bottom: 15%;
  }
  .section_2 .container,
  .section_4 .container {
    flex-direction: column-reverse;
    align-items: center;
  }

  .section_2 .container .section_2_1,
  .section_4 .container .section_4_2 {
    min-height: auto;
    padding-top: 15%;
    max-width: 100%;
  }

  .section_2 .container .section_2_1 {
    padding-bottom: 15%;
  }

  .section_2 .container .section_2_2,
  .section_4 .container .section_4_1 {
    padding-top: 15%;
    margin: 0;
  }

  .section_2 .container .section_2_1 h2,
  .section_4 .container .section_4_2 h2 {
    text-align: center;
    margin-bottom: 5%;
  }

  .section_2 .container .section_2_1 p,
  .section_4 .container .section_4_2 p {
    margin-bottom: 10%;
    text-align: center;
  }

  .section_2 .container .section_2_1 a,
  .section_4 .container .section_4_2 a {
    align-self: center;
  }
  .section_3 .container .cards {
    flex-direction: column;
  }
  .section_3 .container .cards .card {
    padding-bottom: 10%;
  }

  .section_3 .container .cards .card h3 {
    font-size: 4.8rem;
  }

  .section_5 {
    margin-top: 15%;
  }

  .section_5 .container .cards {
    flex-direction: column;
  }

  .section_6 .container .cards {
    flex-direction: column;
  }

  .section_3 .container h2,
  .section_5 .container h2,
  .section_6 .container h2,
  .section_8 .container h2 {
    text-align: center;
  }

  .section_7 .container {
    flex-direction: column;
  }

  .section_7 .container ul {
    margin-bottom: 15%;
  }

  .section_8 .container .cards {
    flex-direction: column;
  }

  .section_8 .container .cards .card .card-text {
    max-width: none;
  }

  .section_8 .container .cards .card .card-text h3 {
    font-size: 3rem;
  }

  .section_8 .container .cards .card .card-text p {
    font-size: 2rem;
    line-height: 2.4rem;
  }

  .section_8 .container .cards .card .card-text a {
    font-size: 2.4rem;
  }
  footer .container {
    display: flex;
    flex-wrap: wrap;
  }
  // footer .container .left {
  //   margin-right: 20%;
  // }
  footer .container .left,
  footer .container .middle {
    margin-bottom: 10%;
  }
  footer .container .middle {
    margin-left: auto;
  }

  footer .container .right {
    align-items: center;
    margin: 0 auto;
  }

  footer .container .right p {
    text-align: center;
  }
}
